{% extends "base.html" %}

{% block content %}
<div class="container-fluid" id="index-page">
    {% if bot %}
        <div class="row">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                {% if activation_type(bot.id) == "trial" %}
                                <div class="card-header" data-background-color="orange">
                                    <i class="material-icons">skip_next</i>
                                </div>
                                {% elif activation_type(bot.id) == "active" %}
                                <div class="card-header" data-background-color="green">
                                    <i class="material-icons">check_circle</i>
                                </div>
                                {% else %}
                                <div class="card-header" data-background-color="red">
                                    <i class="material-icons">warning</i>
                                </div>
                                {% endif %}

                                <div class="card-content">
                                    <p class="category">Status</p>
                                    <h3 class="title">{{ activation_type(bot.id).upper()}}</h3>
                                </div>
                                <div class="card-footer">
                                    {% if activation_type(bot.id) == "expired" %}
                                        <div class="stats">
                                            <a href="/payment" class="btn btn-sm btn-danger">Activate</a>
                                        </div>
                                    {% elif activation_type(bot.id) == "trial" %}
                                        <div class="stats">
                                            <a href="/payment" class="btn btn-sm btn-success">Activate</a>
                                        </div>
                                    {% else %}
                                        <div class="stats">
                                             <i class="material-icons">timer</i>
                                            expires {{ momentjs(bot.expires_at).fromNow()}}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="green">
                                    <i class="material-icons">store</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Binance</p>
                                    {% for coin in bot.get_account_balance() %}
                                        <h3 class="title">{{coin['free']|float|round(4)}}<small>{{coin['asset']}}</small></h3>
                                    {% endfor %}
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">date_range</i> Right Now
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="/user/{{ current_user.username }}">
                                        <img class="img" src="{{ current_user.avatar(128) }}" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="category text-gray">{{ current_user.role }}</h6>
                                    <h4 class="card-title">{{ current_user.username }}</h4>
                                    <p class="card-content">
                                        {{ current_user.about_me }}
                                    </p>
                                    {% if current_user %}
                                    <a href="{{ url_for('edit_profile') }}" class="btn btn-primary btn-round">Edit your profile</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header" data-background-color="orange">
                    <h4 class="title">PLEASE CREATE ACCOUNT</h4>
                    <p class="category">You have not given us your keys</p>
                </div>
                <div class="card-content">
                    <div id="typography">
                        <div class="title">
                            <h2>Hi {{ current_user.username }},</h2>
                        </div>
                        <div class="row">
                            <div class="tim-typo">
                                <h5>
                                    <span class="tim-note">Binance API KEY and SECRET KEY</span>
                                    <h5 class="tim-typo">Your ABC account is not yet set up,
                                        we require your <strong>Binance API KEY and SECRET KEY</strong> for us to start trading. Please go to
                                        <strong><a href="https://www.binance.com/?ref=26587522">BINANCE</a></strong> and create
                                        an <strong>API KEY and a SECRET KEY</strong>, then input them in your
                                        <a href="/account"><strong>account page</strong></a> </h5>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endif %}
</div>
{% endblock content %}
{% block scripts %}
{{ super()}}
<!--script src="{{url_for('static', filename='dist/dashboard.js')}}"></script-->
{% endblock scripts %}