{% extends "layouts/base.html" %}

{% block navbar %}
    {% include "partials/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="container-fluid" id="account-page">
    <div class="row">
        <div class="col-md-8">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="{{ gravitate(feedback.email, 128) }}" />
                    </a>
                </div>
                <div class="content">
                    <h6 class="category text-gray">{{ feedback.name }}</h6>
                    <h4 class="card-title">{{ feedback.email }}</h4>
                    <p class="card-content">
                        {{ feedback.message }}
                    </p>
                    <a href="{{ url_for("admin.send_new_email", email=feedback.email, subject="reply to " + feedback.subject) }}" class="btn btn-primary btn-round">Reply</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
    {{super()}}

{% endblock scripts %}