.git/
.idea/
__pycache__/
venv/
migrations/
sounds/
activate
config.ini
zrjxphmn@prohosting1.netsons
webstart.bat
test_api.py
test.log
ssh.txt
renko_start.bat
dashboard/static/node_modules
dashboard/.idea
dashboard/__pycache__
dashboard/app.db
dashboard/app/__pycache__
tests
logs
