alembic
asn1crypto
attrs
autobahn
Automat
bcrypt
blinker
certifi
cffi
chardet
click
colorama
constantly
cryptography
dateparser
eventlet
Events
Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
greenlet
hyperlink
idna
incremental
itsdangerous
Jinja2
Mako
MarkupSafe
mysqlclient
passlib
playsound
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
python-binance-api
python-dateutil
python-editor
python-engineio
python-socketio
pytz
regex
requests
service-identity
simplejson
six
socketIO-client
SQLAlchemy
txaio
tzlocal
urllib3
websocket-client
websockets
Werkzeug
WTForms
zope.interface