<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="orange">
                <h4 class="title">PLEASE CREATE ACCOUNT</h4>
                <p class="category">You have not given us your keys</p>
            </div>
            <div class="card-content">
                <div id="typography">
                    <div class="title">
                        <h2>Hi {{ current_user.username }},</h2>
                    </div>
                    <div class="row">
                        <div class="tim-typo">
                            <h5>
                                <span class="tim-note">Binance API KEY and SECRET KEY</span>
                                <h5 class="tim-typo">Your ABC account is not yet set up,
                                    we require your <strong>Binance API KEY and SECRET KEY</strong> for us to start trading. Please go to
                                    <strong><a data-step=1
                                               data-intro="We need your API key from binance, kindly click on this link to go create one"
                                               href="https://www.binance.com/?ref=26587522" target="_blank">BINANCE</a></strong> and create
                                    an <strong>API KEY and a SECRET KEY</strong>, then input them in your
                                    <a href="/account"><strong>account page</strong></a> </h5>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header" data-background-color="orange">
                <h4 class="title">HOW TO CREATE KEYS IN BINANCE</h4>
            </div>
            <div class="card-content">
                <div class="row">
                    <ul data-step="2"
                        data-intro="follow the following instruction to learn more">
                        <li>Log into your binance account.</li>
                        <li>click on the account drop down and go to account page.</li>
                        <li>on the account page, scroll to API and click on API settings</li>
                        <li>on the API settings tab, you can create a new key and secret, give it a label you like, like <strong>autobotcloud</strong>
                            you will be asked to autheticate via sms, please do and proceed</li>
                        <li>an email will be sent to  you to preceed further, open your email and click '<strong>create confirm</strong>'</li>
                        <li>A new API key and SECRET will be created.</li>
                        <li>Please confirm that only <strong>read info and enable trading fields</strong> have been checked</li>
                        <li>Copy the API Key and SECRET Key and input them in <a href="{{ url_for('bots.account') }}">autobotcloud's account</a> page</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename="js/dashboard.js") }}"></script>
<script src="{{ url_for('static', filename="introjs/intro.js") }}"></script>
<link href="{{ url_for('static', filename='introjs/introjs.css') }}" rel="stylesheet">
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var msg = "<a href='javascript:void(0);' onclick='javascript:introJs().start();'> {{ current_user.username }}, click here to start a guide</a>";
        dashboard.showNotification('top','center', 'success', msg);
    }, false);
</script>