{% extends "layouts/base.html" %}
{% block content %}
{% from "macros/render_pagination.html" import render_pagination%}
<div class="container-fluid" id="users-page">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header" data-background-color="orange">
                    <h4 class="title">Bots Status</h4>
                </div>
                <div class="card-content">
                    <table class="table">
                        <thead class="text-primary">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>expires in</th>
                            <th>Created</th>
                            <th>ACTIONS</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bot in bots.items %}
                        <tr>
                            <td>{{ bot.id }}</td>
                            <td><a href="{{ url_for('bots.get_bot', bot_id = bot.id) }}">{{ bot.name }}</a></td>
                            <td>{{ activation_type(bot.id) }}</td>
                            <td>{{ get_remaining_subscription_days(bot.id) }} days</td>
                            <td>{{ momentjs(bot.created_at).fromNow() }}</td>
                            <td>
                                <div class="btn-group btn-group-xs">
                                    <a href="{{ url_for('bots.stop_bot', bot_id = bot.id) }}" class="btn btn-success">
                                        <i class="material-icons text-primary">power_settings_new</i>
                                    </a>
                                    <a href="{{ url_for('bots.delete_bot', bot_id = bot.id) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this bot?');">
                                        <i class="material-icons text-primary">delete</i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    {{ render_pagination(bots, "bots.get_bots") }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{{super()}}

{% endblock scripts %}