{% extends "layouts/landing.html" %}

{% block content %}
<main id="main">
    <!--==========================
      Frequently Asked Questions Section
    ============================-->
    <section id="faq">
        <div class="container">

            <div class="section-header">
                <h3 class="section-title">Frequently Asked Questions</h3>
                <span class="section-divider"></span>
                <p class="section-description">Here is a response to some of the Frequently Asked Questions</p>
            </div>

            <ul id="faq-list" class="wow fadeInUp">
                <li>
                    <a data-toggle="collapse" class="collapsed" href="#faq1">1. What is Auto Bot Cloud?<i class="ion-android-remove"></i></a>
                    <div id="faq1" class="collapse" data-parent="#faq-list">
                        <p>
                            The <strong>Auto Bot Cloud is an automated bot that assists with trading on cryptocurrencies.</strong>
                            It is a contingency investment allowance for anyone keen on passive or alternative income source.
                            The Auto Bot Cloud is <strong>compatible with Binance Exchange which enables trading of Bitcoin through a web-based platform.</strong>
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq2" class="collapsed">2. Is Auto Bot Cloud 100% automated? <i class="ion-android-remove"></i></a>
                    <div id="faq2" class="collapse" data-parent="#faq-list">
                        <p>
                            <strong>The platform is automated</strong> and it will manage your <strong>portfolio impulsively using trends and strategies of the market.</strong>
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq3" class="collapsed">3. On what operating systems can I run Auto Bot Cloud? <i class="ion-android-remove"></i></a>
                    <div id="faq3" class="collapse" data-parent="#faq-list">
                        <p>
                            Actually Auto Bot Cloud supports <strong>Windows, Mac, Linux and ARM.</strong>
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq4" class="collapsed">4. Why does Auto Bot Cloud operates in a Cloud? <i class="ion-android-remove"></i></a>
                    <div id="faq4" class="collapse" data-parent="#faq-list">
                        <p>
                            <strong>We want our investors to have the flexibility to trade anywhere at any time.</strong> Therefore, having the Auto Bot functioning via a cloud,
                            it gives the investors the <strong>freedom to view and manage transactions. Effortless accessibility</strong> via any computer, tablet or phone from anywhere in the world.
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq5" class="collapsed">5. What are the minimum system requirements to run Auto Bot Cloud?<i class="ion-android-remove"></i></a>
                    <div id="faq5" class="collapse" data-parent="#faq-list">
                        <p>
                            The latest version of <strong>Auto Bot Cloud is very low resource demanding and it runs via any device with a stable Internet connection.</strong>
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq6" class="collapsed">6. What payment methods do you accept?<i class="ion-android-remove"></i></a>
                    <div id="faq6" class="collapse" data-parent="#faq-list">
                        <p>
                            We accept <strong>payments through Bitcoin. Its 0.01 bitcoin billed every 30 days.</strong>  Sign up with us for a 30 days free trial.
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq7" class="collapsed">7. Where can I buy Bitcoins or other cryptocurrencies?<i class="ion-android-remove"></i></a>
                    <div id="faq7" class="collapse" data-parent="#faq-list">
                        <p>
                            <strong>There are many Exchanges where you can buy Bitcoin.</strong> You can buy from Coinbase, localbitcoins, remittano and many more which you may search on the Internet.
                            <strong>Binance Exchange offers a 50% discount on trading fees when you purchase coins from their platform.</strong>
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq8" class="collapsed">8. What do I need in order to get my Auto Bot Cloud subscription activated?<i class="ion-android-remove"></i></a>
                    <div id="faq8" class="collapse" data-parent="#faq-list">
                        <p>
                            <strong>You can access your account once you have completed your registration.</strong> You are entitled to a 30 days free trial and to continue with the facility of the Auto Bot Cloud
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq9" class="collapsed">9. What do I need in order to get my Auto Bot Cloud license activated?<i class="ion-android-remove"></i></a>
                    <div id="faq9" class="collapse" data-parent="#faq-list">
                        <p>Here is what you need:</p>
                        <ol>
                            <li><strong>Sign up for a <a href="https://www.binance.com">Binance Account</a></strong></li>
                            <li><strong>Then complete the registration for <a href="/register">Auto Bot Cloud</a></strong></li>
                            <li><strong>Copy the API and Secret keys from your Binance Account  into the Auto Bot Cloud website</strong></li>
                        </ol>
                        <p>** You get 50% off trading fees when you purchase BNB coins via Binance Exchange.</p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq10" class="collapsed">10. Is it possible to change my API Key?<i class="ion-android-remove"></i></a>
                    <div id="faq10" class="collapse" data-parent="#faq-list">
                        <p>
                            Yes, <strong>you can easily remove or add a new API key from your account.</strong>
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq11" class="collapsed">11. What is a VPS? Do you recommend to run the bot in a VPS?<i class="ion-android-remove"></i></a>
                    <div id="faq11" class="collapse" data-parent="#faq-list">
                        <p>
                            <strong>VPS is short for Virtual Private Server which allows you to trade 24/7.</strong> It is a virtual site, therefore it will continue to trade effectively without a live monitor or an internet connection.
                            This is cost and energy saving for your hardware
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq12" class="collapsed">12. Is it easy to install Auto Bot Cloud?<i class="ion-android-remove"></i></a>
                    <div id="faq12" class="collapse" data-parent="#faq-list">
                        <p>
                            <strong>Auto Bot Cloud is web-based.</strong> Our objective is to make the installation easy and to get you started instantly. Register on our website and follow the instructions.
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq13" class="collapsed">13. How much can I earn using Auto Bot Cloud?<i class="ion-android-remove"></i></a>
                    <div id="faq13" class="collapse" data-parent="#faq-list">
                        <p>
                            The <strong>ROI</strong> on trading with Cryptocurrencies depends on states of high <strong>market volatility, your initial deposit and the amount of time you have Auto Bot Cloud running.</strong>
                            However, our trends show a steady data of increment in investment value and ROI to up to 15% to 100% month to month. The Bot works round-the clock, therefore potential income is heightened.
                            <strong>Auto Bot Cloud provides an excellent investment opportunity for anyone who wants to make a consistent profit with the digital currency</strong>
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq14" class="collapsed">14. How many bots/coins can Auto Bot Cloud handle at the same time?<i class="ion-android-remove"></i></a>
                    <div id="faq14" class="collapse" data-parent="#faq-list">
                        <p>
                            <strong>Only 1 Pair – BTC/USDT.</strong> Out system is design to work systematically with pairing.
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq15" class="collapsed">15. Is Our Money Safe?<i class="ion-android-remove"></i></a>
                    <div id="faq15" class="collapse" data-parent="#faq-list">
                        <p>
                            <strong>Your personal information is safe and protected.</strong> All your activity with <strong>Auto Bot Cloud available only through API keys.
                            We also recommend you to activate additional security</strong> in your Binance account by means of Google 2fa and other available methods.
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq16" class="collapsed">16. Why Auto Bot Cloud is better than other available bots?<i class="ion-android-remove"></i></a>
                    <div id="faq16" class="collapse" data-parent="#faq-list">
                        <p>
                            We have many advantages:
                        </p>
                        <ol>
                            <li>It's the security of your data</li>
                            <li>the Auto Bot Cloud runs on Cloud based technology, therefore, access to the platform is  from anywhere in the world</li>
                            <li>Trade bots can operate 24/7 giving more time for yourself and your loved ones</li>
                            <li>Our track record speaks volumes and this is a tremendous opportunity to increase your financial portfolio.</li>
                        </ol>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq17" class="collapsed">17. What is the minimum and maximum required amount for Auto Bot Cloud work?<i class="ion-android-remove"></i></a>
                    <div id="faq17" class="collapse" data-parent="#faq-list">
                        <p>
                            <strong>You only need a minimum of 0.01 BTC to start trading and maximum of your capacity.</strong>
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq18" class="collapsed">18. What brokers do you have access to?<i class="ion-android-remove"></i></a>
                    <div id="faq18" class="collapse" data-parent="#faq-list">
                        <p>
                            <strong>We only use Binance Exchange as they have the lowest trading fee **</strong>
                            ** Purchase BNB coins which enables you to enjoy a further 50% discount on the trade fee.
                            If you don’t have a Binance account you can sign up here (our Binance Link)
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq19" class="collapsed">19. Do you offer support?<i class="ion-android-remove"></i></a>
                    <div id="faq19" class="collapse" data-parent="#faq-list">
                        <p>
                            Yes – A dedicated team who supports via LIVE CHAT 24/7
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq20" class="collapsed">20. How much time does the Auto Bot Cloud license last?<i class="ion-android-remove"></i></a>
                    <div id="faq20" class="collapse" data-parent="#faq-list">
                        <p>
                            We charge a fixed fee of 0.01 BTC coin, but with our first 30 days free trial, you can continue the service with coins you have already earned via the promotion.
                            It practically will pay for itself.
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq21" class="collapsed">21. Do you offer financial advice?<i class="ion-android-remove"></i></a>
                    <div id="faq21" class="collapse" data-parent="#faq-list">
                        <p>
                            No, we are not financial advisors.
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq22" class="collapsed">22. Do you offer refunds?<i class="ion-android-remove"></i></a>
                    <div id="faq22" class="collapse" data-parent="#faq-list">
                        <p>
                            No, due to the nature of digital products, we don’t offer refunds.
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq23" class="collapsed">23. I have more questions or suggestions.<i class="ion-android-remove"></i></a>
                    <div id="faq23" class="collapse" data-parent="#faq-list">
                        <p>
                            You can send us an email to (Email Id to be advised) or just fill in the contact form. You may start a chat with our support team via live chat for an instant reply, we will be glad to answer your questions.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section><!-- #faq -->
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
        <div class="container">
            <div class="row wow fadeInUp">

                <div class="col-lg-4 col-md-4">
                    <div class="contact-about">
                        <h3>Auto Bot Cloud</h3>
                        <p>The Auto Bot Cloud is the better way to trade Cryptocurrencies. We want you to trust that we are the champion trading partner for you. </p>
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="info">

                        <div>
                            <i class="ion-ios-email-outline"></i>
                            <p>info@autobotcloud.com</p>
                        </div>

                        <div>
                            <i class="ion-ios-telephone-outline"></i>
                            <p>info@autobotcloud.com</p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5 col-md-8">
                    <div class="form">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="/feedback" method="post" role="form" class="contactForm">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #contact -->
</main>

{%endblock content %}