{% extends "layouts/base.html" %}

{% block styles %}
    {{ super() }}
     <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .graph .axis {
            stroke-width: 1;
        }

        .graph .axis .tick line {
            stroke: black;
        }

        .graph .axis .tick text {
            fill: black;
            font-size: 0.7em;
        }

        .graph .axis .domain {
            fill: none;
            stroke: black;
        }

        .domain {
            fill: none;
            stroke: black;
        }

        .graph .group {
            fill: none;
            stroke: black;
            stroke-width: 1.5;
        }
    </style>
{% endblock styles %}
{% block navbar %}
    {% include "partials/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="container-fluid" id="account-page">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                                <div class="card-header" data-background-color="orange">
                                    <h4 class="title">Chart</h4>
                                    <p class="category">
                                        As interpreted by the bot
                                    </p>
                                </div>
                                <div class="card-content">
                                    <div class="graph"></div>
                                </div>
                            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
    {{super()}}
    <script src="/js/d3.v4.min.js"></script>
<script src="/js/socket.io.js"></script>
<script>
    var width = 960,
        height = 400;

    var r_x = d3.scaleLinear()
        .range([0, width - 50]);

    var r_y = d3.scaleLinear()
        .range([height, 0]);

    var svg = d3.select('.graph').append('svg')
        .attr('class', 'chart')
        .attr('width', width)
        .attr('height', height + 50);

    var yAxis = d3.axisRight()
        .ticks(10)
        .tickSize(-width)
        .tickPadding(8);

    var xAxis = d3.axisBottom()
        .ticks(20)
        .tickSize(-height)
        .tickPadding(8);

    var gY = svg.append('g')
        .attr('class', 'y axis');

    var gX = svg.append('g')
        .attr('class', 'x axis');

    var renkos = svg.append('g')
        .attr("class", "renko-container")
        .attr("width", width - 50)
        .attr("height", height-50);

    var ztl_line = svg.append('g');

    var cirle = svg.append("circle").attr("cx", width-30).attr("cy",height/2).attr("r",3);
    cirle.style("fill","none").style("stroke","green");

    $(document).ready(function () {

        var socket = io.connect('//' + document.domain + ':' + location.port);

        socket.on("current-bricks", function (resp) {
            console.log(resp);
            bricks = resp['bricks'];
            configs = resp['configs']

            add_bricks_to_chart(bricks, configs);
        });
        socket.emit("getrenkobricks");
    });


    function add_bricks_to_chart(bricks, configs) {
        var last_25_bricks = bricks.slice(-300);
        console.log("last 25 bricks", last_25_bricks);
        var max = d3.max(last_25_bricks, function (d) { return +d.price; });
        var min = d3.min(last_25_bricks, function (d) { return + d.price; });

        console.log("brick size is ", brick_size);
        r_y.domain([min, max]);
        r_x.domain([0,last_25_bricks.length]);

        ztl_line.append('path')
            .attr('d', ztl_line_func(bricks))
            .attr("stroke", "blue")
            .attr("stroke-width", 2)
            .attr("fill", "none");

        var brick_size = +configs['brick_size'];

        renkos.selectAll("rect")
        .data(last_25_bricks).enter()
        .append("rect")
        .attr("width", function (d) {
            return (width - 50) /last_25_bricks.length;
        })
        .attr("height", function (d) {
            var factor = r_y(1) - r_y(2);
            return +brick_size * factor;
        })
        .attr("x", function (d, i) {
            return r_x(i);
        })
        .attr("y", function (d) {
            return r_y(d['high']);
        })
            .style("fill", function (d) {
                return d.bull ? "green" : "red";
            });

        yAxis.scale(r_y);
        gY.attr('transform', 'translate('+ (width - 50)  +',' + 0 + ')')
        .call(yAxis);

        xAxis.scale(r_x);
        gX.attr("transform", "translate(0, "+ (height - 50) + ")")
            .call(xAxis);
    }

    var ztl_line_func = d3.line()
            .x(function (d, i) {
                console.log("i is " +i);
                return r_x(i);
            })
            .y(function (d) {
                console.log("y is "+ d.ztl);
                return r_y(+d.ztl);
                //return 270;

            });
            //.interpolate('linear');

    var zoom_rect = svg.append('rect')
        .attr('width', width)
        .attr('height', height)
        //.style('fill', "none")
        .style("pointer-events", "all")
        .attr('class','domain')
        .call(d3.zoom()
            .scaleExtent([1/2, 4])
            .on('zoom', zoomed));

    function zoomed() {
        console.log("zooming now");
        renkos.attr("transform", d3.event.transform);
        ztl_line.attr("transform", d3.event.transform);
        gY.call(yAxis.scale(d3.event.transform.rescaleY(r_y)));
        gX.call(xAxis.scale(d3.event.transform.rescaleY(r_x)));
    }


</script>
{% endblock scripts %}