 {% extends "layouts/base.html" %}

{% block navbar %}
    {% include "partials/navbar.html" %}
{% endblock navbar %}

{% block content %}
{% from "macros/render_pagination.html" import render_pagination%}
<div class="container-fluid" id="users-page">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header" data-background-color="orange">
                    <h4 class="title">User Roles</h4>
                </div>
                <div class="card-content">
                    <table class="table">
                        <thead class="text-primary">
                        <tr>
                            <th>ID</th>
                            <th>IMG</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Joined</th>
                            <th>ACTIONS</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users.items %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td><img class="img" src="{{ user.avatar(32) }}" /> </td>
                            <td><a href="/user/{{ user.username }}">{{ user.username }}</a></td>
                            <td>{{ user.email }}</td>
                            <td>{{ momentjs(user.created_at).fromNow() }}</td>
                            <td>
                                <div class="btn-group btn-group-xs">
                                    {% if admin_role in user.roles %}
                                    <a href="/roles/admin/{{ user.id }}" class="btn btn-success">
                                        REMOVE ADMIN
                                    </a>
                                    {% else %}
                                    <a href="/roles/admin/{{ user.id }}" class="btn btn-warning">
                                        MAKE ADMIN
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                 <div class="card-footer">
                    {{ render_pagination(users, "roles") }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
    {{super()}}

{% endblock scripts %}