{% extends "layouts/base.html" %}

{% block navbar %}
    {% include "partials/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="container-fluid" id="account-page">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" data-background-color="orange">
                    <h4 class="title">Edit Binance Settings</h4>
                    <p class="category">{{ bot.name or "NEW" }} | ACCOUNT :: {{ activation_type(bot.id).upper() }}</p>
                </div>
                <div class="card-content">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-group label-floating">
                            {{ form.api_key.label }}
                            {{ form.api_key(size=32, class_="form-control") }}
                            {% for error in form.api_key.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="form-group label-floating">
                            {{ form.api_secret.label }}
                            {{ form.api_secret(size=32, class_="form-control") }}
                            {% for error in form.api_secret.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <p>{{ form.submit(class_="btn btn-primary") }}</p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="/user/{{ current_user.username }}">
                                        <img class="img" src="{{ current_user.avatar(128) }}" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="category text-gray">{{ current_user.role }}</h6>
                                    <h4 class="card-title">{{ current_user.username }}</h4>
                                    <p class="card-content">
                                        {{ current_user.about_me or "you've said nothing about yourself yet." }}
                                    </p>
                                    <a href="{{ url_for('users.edit_profile') }}" class="btn btn-primary btn-round">Edit your profile</a>
                                </div>
                            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
    {{super()}}

{% endblock scripts %}