{% extends "layouts/base.html" %}

{% block navbar %}
    {% include "partials/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="container-fluid" id="user-page">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="/user/{{ user.username }}">
                        <img class="img" src="{{ user.avatar(128) }}" />
                    </a>
                </div>
                <div class="content">
                    <h6 class="category text-gray">{{ user.role }}</h6>
                    <h4 class="card-title">{{ user.username }}</h4>
                    <p class="category">Binance</p>
                    {% if bot %}
                    {% for coin in bot.get_account_balance() %}
                    <h3 class="title">{{coin['free']|float|round(4)}}<small>{{coin['asset']}}</small></h3>
                    {% endfor %}
                    {% endif %}
                    <p class="card-content">
                        {{ user.about_me or user.username + " has said nothing yet" }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-header" data-background-color="orange">
                    <h4 class="card-title">ACCOUNT INFORMATION</h4>
                </div>
                <div class="content">
                    <p class="category">Activation</p>
                    {% if bot %}
                    <h3 class="title">{{activation_type(bot.id) | capitalize }} <small>{{ get_remaining_subscription_days(bot.id) }} days left </small></h3>
                    {% else %}
                    <h3 class="title">{{ user.username }} has not created an account</h3>
                    {% endif %}
                    <a class="btn btn-primary" href="{{ url_for('payments.manual_activate', bot_id=bot.id) }}">RE ACTIVATE</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card card-profile">
                <div class="card-header" data-background-color="orange">
                    <h4 class="card-title">ACCOUNT ACTIVITY</h4>
                </div>
                <div class="card-content">
                    <p class="category">Logs</p>
                    <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <th>ID</th>
                        <th>MESSAGE</th>
                        <th>TIME</th>
                        </thead>
                        <tbody>
                        {% for log in logs %}
                        <tr>
                            <td>{{ log.id }}</td>
                            <td>{{ log.msg | truncate(50)}}</td>
                            <td>{{ momentjs(log.created).fromNow() }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
    {{super()}}

{% endblock scripts %}