{% extends "layouts/base.html" %}
{% block content %}
{% from "macros/render_pagination.html" import render_pagination%}
<div class="container-fluid" id="users-page">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="orange">
                    <h4 class="title">Logs</h4>
                </div>
                <div class="card-content">
                    <table class="table">
                        <thead class="text-primary">
                        <tr>
                            <th>ID</th>
                            <th>threadName</th>
                            <th>Level Name</th>
                            <th>Message</th>
                            <th>Created at</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in logs.items %}
                        <tr>
                            <td>{{ log.id }}</td>
                            <td>{{ log.threadName }}</td>
                            <td>{{ log.levelname }}</td>
                            <td>{{ log.msg | truncate(100, True) }}</td>
                            <td>{{ momentjs(log.created).fromNow() }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    {% if search_value %}
                    {{ render_pagination(logs, "logs.search", search_value) }}
                    {%  else %}
                    {{ render_pagination(logs, "logs.index") }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{{super()}}

{% endblock scripts %}